/* whole HTML */
html, body{
    width: 100%;
    height: 100%;
    background-color: darksalmon;
    font-family: 'Courier New', Courier, monospace;
}



h1{
    text-align: center;
    font-size: 40px;
    color: slateblue;
    text-shadow: -1px 1px darkmagenta;
}
/* connected to text box and submit button */
form{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* attached to the button "Add TO List" */
#task-submit{
    animation: bubble 2s infinite alternate;
    background-color: lightcoral;
    border: none;
} 
/* controls the text box */
#task-input{
width: 40%;
height: 20%;
border: none;
background-color: lightcoral;
font-size: 30px;
border-radius: 10px;
}
input[type="text"], text{
    background-color: black;
    color: slateblue;
    text-shadow: 1px -1px darkmagenta;
}
/* is connected to task-submit */
@keyframes bubble{
    0%  {font-size: 20px;}
    100% {font-size:23px;}
}

/* pauses animation */
#task-submit:hover{
    animation-play-state: paused;
}

.tasks-item{
    padding: 5px;
    margin: 10px 0;
    gap: 5px;
    color: slateblue;
    text-shadow: 1px -1px darkmagenta;
}


.task-track{
    display: flex;
    justify-content: center;
    margin: 10px;

}
i::before{
    content: 'delete';
}
i{
    float: right;
    color: red;
    cursor: pointer;
}














