html, body{
    width: 100%;
    height: 100%;
    background-color: darksalmon;
}



h1{
    text-align: center;
    font-size: 40px;
    color: purple;
    text-shadow: -1px 1px aqua;
}































